body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td { margin: 0; padding: 0; border: 0;}
html { color: #000; }
html,body { height: 100%; }
body,button,input,select,textarea { /*font-size: 12px;*//*定义字体 */ font-family: "微软雅黑",arial;}
ul,ol,li,dl,dd,dt{list-style: none;}
em { font-style: normal; }
a { text-decoration: none;color: black; }
a:hover { text-decoration:none; }
legend { color: #000; }
fieldset,img { border: 0; }
label,button { cursor: pointer; }

/*解决IE图片缩放失真*/
img { -ms-interpolation-mode: bicubic; }
/*清除浮动*/
.clearfix:after { content: ''; display: block; height: 0; clear: both; }
.clearfix { zoom: 1; }
.clear { clear: both; }
/*连续英文、数字换行*/
.wordwrap { word-break: break-all; word-wrap: break-word; }
/*单行文字超出显示省略号*/
.omg{overflow: hidden; text-overflow: ellipsis; white-space:nowrap;}

/*提示框样式*/
div.tips{   position:absolute; 
			height:auto; 
			border:1px solid gainsboro;
			background: rgba(255,255,255,0.8);
			padding:1%;}
/*清除浮动*/
.clear{clear: both;}
/*内容样式*/
@media only screen and (min-width:1440px){
	body{margin-top:100px;}
	.banner{width:100%;margin: auto;position:relative}
	.banner img{width:100%;}
	.banner div{position: absolute;width:100%;height:184px;top:35%;
				background: rgba(0,0,0,0.3);
				padding-top: 40px;
				box-sizing: border-box;}
	.banner div p{text-align: center;}
	.banner div .p1{font-size: 40px;color:white;margin-bottom: 15px;}
	.banner div .p2{font-size: 20px;color:#d1d1d1;}
	.main {width:1440px;margin:40px auto;}
	.main p{margin:26px auto;
			font-size: 28px;
			text-align: center;}
	.ul1{width:1150px;margin: auto;margin:23px auto;}
	.ul1 li{float: left;border: 1px solid #dddddd;
			margin-left: 21px;}
			
	ul li a img{width:100%;}
	.ul1 .li{margin-left: 0;}
}
@media only screen and (min-width:1024px) and (max-width:1439px){
	body{margin-top:105px;}
	.banner{width:100%;margin: auto;position:relative}
	.banner img{width:100%;}
	.banner div{position: absolute;width:100%;height:30%;top:35%;
				background: rgba(0,0,0,0.3);
				padding-top:2%;
				box-sizing: border-box;}
	.banner div p{text-align: center;}
	.banner div .p1{font-size: 28px;color:white;margin-bottom:1%;}
	.banner div .p2{font-size: 16px;color:#d1d1d1;}
	.main {width:100%;margin:40px auto;}
	.main p{margin:26px auto;
			font-size: 28px;
			text-align: center;}
	.ul1{width:80%;margin:auto;}
	.ul1 li{float: left;
			width:15%;
			border: 1px solid #dddddd;
			margin:0.5%;
			}
			
	ul li a img{width:100%;}


}
@media only screen and (min-width:790px) and (max-width:1023px){
	body{margin-top:105px;}
	.banner{width:100%;margin: auto;position:relative}
	.banner img{width:100%;}
	.banner div{position: absolute;width:100%;height:40%;top:35%;
				background: rgba(0,0,0,0.3);
				padding-top:3%;
				box-sizing: border-box;}
	.banner div p{text-align: center;}
	.banner div .p1{font-size: 22px;color:white;margin-bottom:1%;}
	.banner div .p2{font-size: 16px;color:#d1d1d1;}
	.main {width:100%;margin:40px auto;}
	.main p{margin:26px auto;
			font-size: 18px;
			text-align: center;}
	.ul1{width:80%;margin: auto;}
	.ul1 li{float: left;
			width:15%;
			border: 1px solid #dddddd;
			margin:0.5%;
			}		
	ul li a img{width:100%;}

}
@media only screen and (max-width:789px){
	body{margin-top:70px;}
	.banner{width:100%;margin: auto;position:relative}
	.banner img{width:100%;}
	.banner div{position: absolute;width:100%;height:80%;top:10%;
				background: rgba(0,0,0,0.3);
				padding:5%;
				box-sizing: border-box;}
	.banner div p{text-align: center;}
	.banner div .p1{font-size:16px;color:white;margin-bottom:1%;}
	.banner div .p2{font-size:12px;color:#d1d1d1;}
	.main {width:100%;margin:20px auto;}
	.main p{margin:2%;
			font-size: 16px;
			text-align: center;}
	.ul1{width:90%;margin: auto;}
	.ul1 li{float: left;
			width:30%;
			border: 1px solid #dddddd;
			margin:1%;
			}		
	ul li a img{width:100%;}


}